<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710303932161-o298fue1kjqnqlmf2s80hbsc3nqqf5mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710303932161-o298fue1kjqnqlmf2s80hbsc3nqqf5mi</string>
	<key>API_KEY</key>
	<string>AIzaSyCSbybjFPBOljWrHpkdHXY-zTGUNUbvnOU</string>
	<key>GCM_SENDER_ID</key>
	<string>710303932161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-dade8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-dade8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710303932161:ios:b43c5cbb69d4f3e1a38500</string>
</dict>
</plist>